<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/base.css"/> 
  
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<div class="col-md-8">
				<h1> Team 7 </h1>
        		<span class="members">Minghan Chen, Kun-Lin Lee, Johnny Shen, Hoa Vu </span>
        		<p> Exploring computer science bibliography relationships using graph database </p>
			</div>
			<div class="col-md-4">
				<div class="pull-right">
					<a href="../logout" class="logout">logout</a>
				</div>
				<ul class="team7">
					<li>Minghan Chen </li>
					<li>Kun-Lin Lee </li>
					<li>Johnny Shen </li>
					<li>Hoa Vu</li>
				</ul>
				<div class="network"></div>
			</div>

		</div>
	</div>
	<div class="container content">
		 <p th:if="${lastvisit}"><span th:text="'Hello, ' + ${username} + ', you have recently visited'"/>
		 <a th:href="@{${lastvisit}}">this query</a></p>
		 
		 <p th:unless="${lastvisit}"><span th:text="'Hello, ' + ${username} + ', please try to query something!'"/>
		 </p>
		 <br/>
		 
		<p> <strong> 1. How to store all publication information in Neo4j, including paper, author, affiliation, topics, etc </strong></p>
		<p>Finished</p>
		 <br/>
		 
		 <form id="Q2" action="getCoAuthor.html" method="get" class="form-inline">
			<p> <strong>2. Given the name of a researcher, generate a graph* showing the direct collaboration network of the author (her all co-authors). </strong></p>
			<input type= "text" name="name" id="name" class="form-control" value= "Walter Vogler" />
			<input type="submit" name="button" id="button" class="btn btn-warning" value="Submit"/>
		</form>
		<br/>

		<form id="Q2" action="multiDepth.html" method="get" class="form-inline">
			<p> <strong>2. Multi depth network. </strong></p>
			<input type= "text" name="name" id="name" class="form-control" value= "Walter Vogler" />
			<input type="submit" name="button" id="button" class="btn btn-warning" value="Submit"/>
		</form>
		<br/>

		<form id ="Q7" action="categorize.html" method="get" class="form-inline">
			<p><strong> 5. Given a timeline of years for a set of authors, generate a graph showing their publications per year.</strong> </p>
			<input type= "text" name="from" id="from" value= "2000" class="form-control"/>
			<input type= "text" name="to" id="to" value= "2010" class="form-control"/>
			<input type="submit" name="button" id="button" value="Submit" class="btn btn-warning"/>
		</form>
		<br/>
		
		<form id = "Q15" action="getCitation.html" method="get" class="form-inline">
			<p> <strong>8. Generate a Paper-Paper network, showing their citation relationships. </strong></p>
			<input type= "text" name="limit" id="limit" value= "" class="form-control" />
			<input type="submit" name="button" id="button" class="btn btn-warning" value="Submit" />
		</form>
		<br/>
		
		<form id = "Q14" action="getTopCitedPaper.html" method="get" class="form-inline">
			<p> <strong>8. List the top cited papers. </strong></p>
			<input type= "text" name="limit" id="limit" value= "" placeholer="number of queries" class="form-control" />
			<input type= "text" name="journal" id="journal" value= "Acta Inf." class="form-control" />
			<!-- <input type= "text" name="year" id="year" value= "2010" class="form-control"/> -->
			<input type="submit" name="button" id="button" class="btn btn-warning" value="Submit" />
		</form>
		<br/>

		<form id ="Q11" action="smallWorldTheory.html" method="get" class="form-inline">
			<p><strong>11. Given a researcher name, find out a path that will lead you to connect to the researcher (prove the small-world theory).</strong> </p>
			<input type= "text" name="author1" id="author1" value= "Walter Vogler" class="form-control"/>
			<input type= "text" name="author2" id="author2" value= "Frank Drewes" class="form-control"/>
			<input type="submit" name="button" id="button" value="Submit" class="btn btn-warning"/>
		</form>
		<br/>
		
		<form id ="Q13" action="categorize2.html" method="get" class="form-inline">
			<p><strong> 13. Categorize the research papers (given time period, publication channels, keywords).</strong> </p>
			<input type= "text" name="from" id="from" value= "2000" class="form-control"/>
			<input type= "text" name="to" id="to" value= "2010" class="form-control"/>
			<input type= "text" name="journal" id="journal" value= "Computers in Industry" class="form-control"/>
			<input type= "text" name="keywords" id="keywords" value= "network,database,algorithm,graph,distributed,language" class="form-control"/>
			<input type="submit" name="button" id="button" value="Submit" class="btn btn-warning"/>
		</form>
		<br/>
		
		<form id = "Q15" action="authornetwork.html" method="get" class="form-inline">
			<p> <strong>15. Generate a Person-Person network, showing their collaboration relationships. </strong></p>
			<input type= "text" name="limit" id="limit" value= "" class="form-control" />
			<input type="submit" name="button" id="button" class="btn btn-warning" value="Submit" />
		</form>
		<br/>

		<form role="form" id ="Q1" action="QueryTest2.html" method="get" class="form-inline">
			<p> <strong> 16. Generate a Paper-Person network, showing their authoring relationships. </strong></p>
		  <div class="form-group">
		    <input type= "text" name="limit" id="limit" class="form-control" value= "" />
			  <input type="submit" name="button" id="button" class="btn btn-warning" value="submit" />
		  </div> 
		</form>
		<br/>
		
		<form id = "Q6" action="topKrelatedPapers.html" method="get" class="form-inline">
			<p> <strong>6. Given some keywords, generate a graph of top k related papers together with their authors.</strong></p>
			<input type= "text" name="keywords" id="keywords" value= "computer, algorithms, distributed, system, optimization, solution" class="form-control" />
			<input type= "text" name="k" id="k" value= "50" class="form-control"/>
			<input type="submit" name="button" id="button" class="btn btn-warning" value="Submit" />
		</form>
		<br/>
		
		<form id = "Q15" action="getExperts.html" method="get" class="form-inline">
			<p> <strong>15. Given some keywords, search for researchers who are experts in the field.</strong></p>
			<input type= "text" name="keywords" id="keywords" value= "distributed, system, optimization" class="form-control" />
			<input type="submit" name="button" id="button" class="btn btn-warning" value="Submit" />
		</form>
		<br/>
		
		<p> <strong> 18. Develop a user-friendly web portal to support the data analytics. </strong></p>
		<p>Finished</p>
		<br/>

		<p> <strong> 19. Login Facility </strong></p>
		<p>Finished</p>
		<br/>
		
		<p> <strong> Provide a personalized interface for a user when logging in, e.g., hello xxx, you have recently visited… </strong></p>
		<p>Finished</p>
		<br/>
	</div>
	
</body>
</html>