<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
  		<link rel="stylesheet" href="css/bootstrap.min.css"/>
      <link rel="stylesheet" href="css/base.css"/> 
    </head>
    <body class="login">
    	<div class="login-container">
    		<h2>Login</h2>
	        <div th:if="${param.error}">
	            Invalid username and password.
	        </div>
	        <div th:if="${param.logout}">
	            You have been logged out.
	        </div>
	        <div th:if="${registered}">
	            Register complete, please log in here.
	        </div>
	        <form th:action="@{/login}" method="post" class="form">
	            <div class="form-group">
	            	<label for="username"> User Name : </label>
	            	<input class="form-control" type="text" name="username"/>
	            </div>
	            <div class="form-group">
	            	<label for="password"> Password: </label>
	            	<input class="form-control" type="password" name="password"/>
	            </div>
	            <div class="form-group">
	            	<input class="btn btn-lg btn-warning" type="submit" value="Sign In"/>
	            </div>
	        </form>
	        <form th:action="@{/register}" class="form">
	        	<input class="btn btn-lg btn-info" type="submit" value="Sign up"/>
	        </form>
        </div>
    </body>
</html>